* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  
  body {
    font-family: "Montserrat", sans-serif;
    padding: 0 16px;
    font-weight: 400;
    line-height: 1.666;
    background: #c0d2d4;
    color: #555;
  }
  
  
  
  h1 {
    font-weight: 900;
    font-size: 500%;
    text-align:center;
    margin-top: 4rem;
    color: #fff;
    line-height: 1.2;
  }
  
  h1 span {
    padding: 5px 15px;
    background-color: #16384c;
    /* background-color: #2d507e; */
    /* background: #2ec2b0; */
  }
  h4 {
    font-weight: 300;
    font-size: 200%;
    text-align:center;
    margin-top: 4rem;
    color: #000;
    line-height: 1.2;
    box-sizing: border-box;
    border-width: 10px;
  }
  
  h4 span {
    padding: 5px 15px;
    background-color: #dcf119;
    border-color: #000;
    border-width: 10px;
    /* background-color: #2d507e; */
    /* background: #2ec2b0; */
  }
  
  .dictionary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem auto;
    max-width: 90%;
  }
  
  .dictionary > .term {
    text-align: center;
    max-width: 20rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 100ms ease-in-out;
  }
  
  .dictionary > .term > dt {
    margin-bottom: 1rem;
  }
  
  dt {
    color: #2ec2b0;
    line-height: 1;
  }
  
  dt span {
    font-size: 200%;
    font-weight: 900;
  }
  
  .emoji {
    margin: 0 auto 20px;
    display: block;
    font-size: 400%;
  }
  
  dd {
    font-size: 92.5%;
    margin-left: 0;
  }
  
  dd dt {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: inherit;
  }
  
  dd dl {
    font-size: 90%;
    margin: 1rem auto 0 auto;
    letter-spacing: 0.33px;
    max-width: 15rem;
  }
  
  dd dl .term {
    margin-bottom: 1rem;
  }
  
  /* ------------------------- button-div -------------------------- */


  button.Button-div{
    display: inline-block;
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    /* padding: 0.3em 1.2em; */
    /* margin: 1rem;
    max-width: 10rem;
    min-width: 10rem; */
    /* margin: 0 0.1em 0.1em 0; */
    border: 2em solid rgba(255,255,255,0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: white;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    /* background-color: #2ec2b0; */
  }
    button .Button-div:hover{
      border-color: white;
      background-color: #342D7E;
    /*  border-color: rgba(255,255,255,1); */
    }

    @media all and (max-width:30em)
    {
        button.Button-div{
          display:block;
          margin:0.2em auto ;
        }
    }
    
  /* ------------------------- button-div -------------------------- */
  /*-------------------------- nav-design -------------------------- */
/* .nav-design
{
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: grid;
  align-items: center;
  justify-content: center;
} */
.nav-design {
  background: #c0d2d4;
  margin-top: 3rem;
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: 100px 130px 125px;
  /* background-color: #fff; */
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  
  padding: 20px;
  font-size: 150%;

}

.clang {
  
  background-color:#E8A317;
  grid-column: 1 / 3;
  
  grid-row: 1;
  
}
.cpplang {
  background-color: #F62817;
  margin-left: 1em;
  grid-column: 3 ;
  grid-row: 1 / 3;
}
.javalang {
  background-color: #342D7E;
  background-color: #2B1B17;
  grid-column: 1 ;
  grid-row: 2 ;
  border-width: 15px;
}
.pythonlang {
  background-color: #93df4d;
  grid-column: 2;
  grid-row: 2;
}

.clang:hover{
  background: #2ec2b0;
  border-radius: 0;
  border-color: white;
  border-width: 5px;
  
}
.cpplang:hover{
  background: #2ec2b0;
  border-radius: 0;
  border-color: white;
  border-width: 5px;
  
}
.javalang:hover{
  background: #2ec2b0;
  border-radius: 0;
  border-color: white;
  border-width: 5px;
  
}
.pythonlang:hover{
  background: #2ec2b0;
  border-radius: 0;
  border-color: white;
  border-width: 5px;
}
  /*-------------------------- nav-design -------------------------- */
  /*-------------------------- Footer ----------------------------- */
  footer {
    position:fixed;
    text-align : center;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    text-align: center;
    color: rgb(8, 3, 3);
    font-weight: 600;
  }


  /*-------------------------- Footer ----------------------------- */

/* -------------------------- button_lang -------------------------- */
/* .button_lang{
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#FFFFFF;
  text-align: center;
  transition: all 0.2s;
} */

.butt_lang{
  margin-top: 1.5em;
}
.button_lang{
  padding-top: 3em;
  margin-top: 3em;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:white;
  background-color: #2ec2b0;
  text-align: center;
  transition: all 0.2s;
}

.button_lang:hover {
    color: #000000;
    background-color: #FFFFFF; 
  }

 
  
  
/* -------------------------- button_lang -------------------------- */

